.ghc/
.git-credentia
.librewolf/
.Xauthority
.config/vifm/*.json*
.bash_profile
.cache/
.config/Bitwarden/
.config/BraveSoftware/
.config/FreeTube/
.config/GIMP/
.config/QtProject.conf
.config/VirtualBox/
.config/bashtop/
.config/cef_user_data/
.config/cmus/
.config/coc/
.config/dconf/
.config/gopass/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/isync/
.config/libfm/
.config/lutris/
.config/mimeapps.list
.config/msmtp/
.config/mutt/
.config/nitrogen/
.config/nvim/coc-settings.json
.config/nvim/plug-config/
.config/pavucontrol.ini
.config/pcmanfm/
.config/pulse/
.config/qtile.config.py
.config/qtile/__pycache__/config.cpython-39.pyc
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/spacefm/
.config/startpage/icons/red.png
.config/systemd/
.config/tlpui/
.config/user-dirs.dirs
.config/vifm/vifm-help.txt
.config/vifm/vifminfo.json
.config/vimb/bookmark
.config/vimb/closed
.config/vimb/command
.config/vimb/cookies.db
.config/vimb/history
.config/vimb/search
.config/vimb/style.css
.config/walli/
.config/wallpaper
.config/ytmdl/
.config/zsh/zsh-autosuggestions/
.git-credentials
.gnupg/
.local/
.mozilla/
.notmuch-config
.nv/
.nvidia-settings-rc
.password-store/
.pki/
.pulse-cookie
.ssh/
.steam/
.steampath
.steampid
.thumbnails/
.vim/
.dotfiles/
Downloads/
VirtualBox VMs/
hdd/
scripts/history.sh
scripts/test.sh
.config/zsh/.zcompdump
.config/git/
.config/pipewire-media-session/
.moc/
.config/qtile/__pycache__/keys.cpython-39.pyc
.config/zsh/bw.zsh
.config/Bitwarden CLI/
.config/geary/
builds/
projects
.npm
.config/xmonad/xmonad.hi
.config/xmonad/xmonad.o
external
.config/isync
.config/cmus
.config/libreoffice
.config/libvirt
.config/isync
.config/procps
.config/rbw
Projects
.authinfo
.gitconfig
dot
/.config/emacs/eln-cache/
/.config/emacs/places
/.config/doom/
/.config/emacs.doom/
/.config/pipewire
/.config/xmonad/xmobar-git/
/.config/xmonad/xmonad-contrib-git/
/.config/xmonad/xmonad-git/
/.elfeed/
/.config/xmonad/xmonad-contrib/
/.config/xmonad/.stack-work/
/.config/xmonad/stack.yaml.lock
/.config/chromium/
/.config/emacs/myth-theme.el
/.config/emacs/myth/
/.config/exwm/scripts/
/method.txt
/.config/xmonad/xmonad
/.config/NuGet/
/.config/Thunar/
/.config/xfce4/
/downloads/
/.config/mozila/
/.config/nyxt/#init.lisp#
/.config/stumpwm/
/.config/cmst/cmst.conf
/.config/X11/#Xinitrc#
/scripts/bare.sh
~/,config/emacs/elisp/history
/.config/i3/
/.android/
/.gtkrc-2.0
/.icons/
/.viminfo
/quicklisp/
/.config/evolution/
/.config/qimgv/
