Config { 

   -- appearance
     font =         "xft:Hack Bold:size=10:bold:antialias=true"
   , bgColor =      "#282a36"
   , fgColor =      "#f8f8f2"
   , alpha  =       255
   , position =     Static { xpos = 0 , ypos = 0, width = 1920, height = 20}
   , border =       BottomB
   , borderColor =  "#373b41"
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = " <action=~/.config/xmobar/xmenu.sh><icon=haskle/haskle.xpm/></action>  %UnsafeStdinReader% }%date%{<icon=seperators/seperator.xpm/> <action=st -e htop> %multicpu% %cpufreq% %coretemp% <icon=seperators/seperator.xpm/> %memory% </action> <icon=seperators/seperator.xpm/> %dynnetwork% <icon=seperators/seperator.xpm/> %battery% <icon=seperators/seperator.xpm/>" 
   , lowerOnStart =     False    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled),
   , iconRoot = ".config/xmobar/xpm-status-icons/icons/"

   -- plugins
   , commands = [
        -- network activity mddonitor (dynamic interface resolution)
       Run DynNetwork [ "--template" , "<txipat><tx> kB/s <rxipat><rx> kB/s"
                        , "--Low"      , "10000"   -- units: B/s
                        , "--High"     , "100000"  -- units: B/s
                        , "--low"      , "#50fa7b"
                        , "--normal"   , "#ffb86c"
                        , "--high"     , "#ff5555"
                        , "--maxtwidth" , "0"
                        , "--"
			, "--devices"   , "enp7s0,wlp0s20f3,enp0s20f0u3,enp0s20f0u1"
                        , "--rx-icon-pattern" , "<icon=network/rx/network_rx_%%.xpm/>"
                          , "--tx-icon-pattern" , "<icon=network/tx/network_tx_%%.xpm/>"
                        ] 50
        -- cpu activity monitor
       , Run MultiCpu [ "--template" , "<ipat> <total>%"
                 , "--Low"      , "30"      -- units: %
                 , "--High"     , "50"      -- units: %
                 , "--low"      , "#50fa7b"
                 , "--normal"   , "#ffb86c"
                 , "--high"     , "#ff5555"
                 , "--"
                   , "--load-icon-pattern" , "<icon=cpu/cpu_%%.xpm/>"
                 ] 50

       -- cpu core temperature monitor
         , Run CoreTemp [ "--template" , "<core0>°C"
         , "--Low" , "50" -- units: °C
         , "--High" , "80" -- units: °C
         , "--low" , "#50fa7b"
         , "--normal" , "#ffb86c"
         , "--high" , "#ff5555"
        ] 50
                          
        -- memory usage monitor
       , Run Memory [ "--template" , "<usedipat> <used> MB"
                    , "--Low"      , "2048"      -- units: %
                    , "--High"     , "4096"      -- units: %
                    , "--low"      , "#50fa7b"
                    , "--normal"   , "#ffb86c"
                    , "--high"     , "#ff5555"
                    , "--"
                      , "--used-icon-pattern" , "<icon=ram/ram_%%.xpm/>"
                    ] 50

        -- battery monitor
       , Run Battery [ "--template"  , "<leftipat> <left>% <timeleft>"
                     , "--Low"       , "30"      -- units: %
                     , "--High"      , "90"      -- units: %
                     , "--low"       , "#50fa7b"
                     , "--normal"    , "#50fa7b"
                     , "--high"      , "#ff5555"
                     , "--maxtwidth" , "10"
                     , "--"
                       , "--on-icon-pattern"   , "<icon=battery/on/battery_on_%%.xpm/>"
                       , "--off-icon-pattern"  , "<icon=battery/off/battery_off_%%.xpm/>"
                       , "--idle-icon-pattern" , "<icon=battery/idle/battery_idle_%%.xpm/>"
                       , "-o" , "<left><fc=#c5c8c6>%</fc> <timeleft>" -- discharging status
                       , "-O" , "<left><fc=#c5c8c6>% <timeleft></fc>" -- plugged in status
                       , "-i" , "<fc=#707880>IDLE</fc>"               -- charged status
		       , "-a", "notify-send -u critical 'Battery running out!!'"
                     ] 30

       --cpu freq
       , Run CpuFreq ["-t", "<cpu0> GHz", "-L", "2", "-H", "3","-l", "green", "-n","orange", "-h", "red"] 50

       --brightness
       --, Run Brightness ["-t", "Screen: <percent>%", "--", "-D", "intel_backlight"] 

        --volume
       -- , Run Com ".xmonad/get-volume.sh" [] "myvolume" 10
     
     -- time and date indicator
        , Run Date "%a %b %I:%M %p" "date" 10

        --stdinreader
        , Run UnsafeStdinReader
        	]
   }

