Config {
   -- appearance
     font             =  "xft:IBM Plex Mono:size=11:SemiBold:antialias=true"
   , bgColor          =  "#282828"
   , fgColor          =  "#ebdbb2"
   , alpha            =  255
   , position         =  Bottom --Static { xpos = 0 , ypos = 0, width = 1920, height = 24}
   , border           =  NoBorder
   , borderColor      =  "#373b41"
   , lowerOnStart     =  True
   , hideOnStart      =  False
   , allDesktops      =  True
   , overrideRedirect =  False
   , pickBroadest     =  False
   , persistent       =  False
   , sepChar          =  "%"
   , alignSep         =  "}{"
   , template         =  " %UnsafeStdinReader% }{ %cpu% | %memory% | %battery% | %clock% |%traypad% "

   -- plugins
   , commands = [
       --stdinreader
       Run UnsafeStdinReader,

       --cpu
       Run Com "/home/sam/.config/xmonad/scripts/cpu.sh" [] "cpu" 100,

       --memory
       Run Com "/home/sam/.config/xmonad/scripts/memory.sh" [] "memory" 100,

       --internet
       Run Com "/home/sam/.config/xmonad/scripts/internet.sh" [] "internet" 100,

       --backlight
       Run PipeReader "/tmp/backlight-pipe" "backlight",

       --volume
       Run PipeReader "/tmp/volume-pipe" "volume",

       --battery
       Run Com "/home/sam/.config/xmonad/scripts/battery.sh" [] "battery" 100,

       --clock
       Run Com "/home/sam/.config/xmonad/scripts/clock.sh" [] "clock" 600,

       --trayerpad
       Run Com "/home/sam/.config/xmonad/scripts/systraypad.sh" [] "traypad" 100

        	]
   }
