Config {
   -- appearance
     font             =  "xft:Hack Nerd Font:size=10:Bold:antialias=true"
   , bgColor          =  "#002b36"
   , fgColor          =  "#eee8d5"
   , alpha            =  255
   , position         =  Static { xpos = 0 , ypos = 0, width = 1920, height = 20}
   , border           =  NoBorder
   , borderColor      =  "#373b41"
   , lowerOnStart     =  True
   , hideOnStart      =  False
   , allDesktops      =  True
   , overrideRedirect =  False
   , pickBroadest     =  False
   , persistent       =  False
   , sepChar          =  "%"
   , alignSep         =  "}{"
   , template         =  " %UnsafeStdinReader% }{| %cpu% | %memory% | %backlight% %volume% | %battery% | %clock% |%traypad% "

   -- plugins
   , commands = [
       --stdinreader
       Run UnsafeStdinReader,

       --cpu
       Run Com "/home/sam/.config/xmonad/scripts/cpu.sh" [] "cpu" 50,

       --memory
       Run Com "/home/sam/.config/xmonad/scripts/memory.sh" [] "memory" 50,

       --internet
       Run Com "/home/sam/.config/xmonad/scripts/internet.sh" [] "internet" 50,

       --backlight
       Run PipeReader "/tmp/backlight-pipe" "backlight",

       --volume
       Run PipeReader "/tmp/volume-pipe" "volume",

       --battery
       Run Com "/home/sam/.config/xmonad/scripts/battery.sh" [] "battery" 50,

       --clock
       Run Com "/home/sam/.config/xmonad/scripts/clock.sh" [] "clock" 600,

       --trayerpad
       Run Com "/home/sam/.config/xmonad/scripts/systraypad.sh" [] "traypad" 50

        	]
   }
