Config {

   -- appearance
     font =         "xft:Hack Nerd Font:size=10:Bold:antialias=true,Hack Nerd Font:size=13:Bold:antialias=true"
   , bgColor =      "#002b36"
   , fgColor =      "#eee8d5"
   , alpha  =       255
   , position =     Static { xpos = 0 , ypos = 0, width = 1920, height = 20}
   , border =       NoBorder
   , borderColor =  "#373b41"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   --, template = " %UnsafeStdinReader% }{| <fc=#d3869b>%cpu%</fc> | <fc=#fabd2f>%memory%</fc> | <fc=#8ec07c>%backlight% %volume%</fc> | <fc=#b8bb26>%battery%</fc> | <fc=#83a598>%clock%</fc> |%traypad% "
   --no colors
        , template = " %UnsafeStdinReader% }{| %cpu% | %memory% | %backlight% %volume% | %battery% | %clock% |%systray% "

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       False    -- enable/disable hiding (True = disabled),
   , iconRoot = ".config/xmobar/xpm-status-icons/icons/"

   -- plugins
   , commands = [
       --cpu
       Run Com "/home/sam/.config/xmonad/scripts/cpu.sh" [] "cpu" 50,

       --memory
       Run Com "/home/sam/.config/xmonad/scripts/memory.sh" [] "memory" 50,

       --internet
       Run Com "/home/sam/.config/xmonad/scripts/internet.sh" [] "internet" 50,

       --backlight
       Run PipeReader "/tmp/backlight-pipe" "backlight",

       --volume
       Run PipeReader "/tmp/volume-pipe" "volume",

       --battery
       Run Com "/home/sam/.config/xmonad/scripts/battery.sh" [] "battery" 50,

       --clock
       Run Com "/home/sam/.config/xmonad/scripts/clock.sh" [] "clock" 600,

       --trayerpad
       Run Com "/home/sam/.config/xmonad/scripts/systraypad.sh" [] "traypad" 50,

       --systraypad
       Run Com "/home/sam/.config/xmonad/scripts/systraypad.sh" [] "systray" 50,

       --stdinreader
       Run UnsafeStdinReader
        	]
   }
